/* style.css */
body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-color: #121212;
  color: white;
  line-height: 1.6;
}

header.hero {
  text-align: center;
  padding: 100px 100px;
  background-image: url(images/communication.jpeg);
  background-position: center;   
  background-size: contain;
  height: 200px; 
}

header.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: white;
}

header.hero p {
  font-size: 1.2rem;
  margin-bottom: 80px;
  color: white;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  gap: 40px;
}

.about-image img {
  width: 100%;
  min-width: 185px;
  border-radius: 10px;
  object-fit: cover;
  height: 300px;
}

.believe {
  flex: 1;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #ddd;
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
    text-align: center;
  }

  .about-image img {
    max-width: 200px;
  }
}

section {
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #05e0e9;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background-color:  #0084A4;;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.project-card:hover {
  transform: translateY(-5px);
  background-color: #2a2a2a;
}


.about p, .contact p {
  font-size: 1.1rem;
}

a {
  color: #05e0e9;
  text-decoration: none;
}

.contact-section {
  background-color: #121212;
  color: #f5f5f5;
  padding: 4rem 2rem;
  font-family: 'Poppins', sans-serif;
}

.contact-header h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cta-button {
  background: #ff6b6b;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease;
}

.cta-button:hover {
  background: #ff8787;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.contact-form input,
.contact-form textarea {
  background: #1e1e1e;
  border: 1px solid #333;
  padding: 1rem;
  color: white;
  border-radius: 8px;
}

.send-button {
  background: #0084A4;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  align-items: center;
}

.send-button:hover {
  background: white;
}

.contact-footer {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-icons a {
  color: #f5f5f5;
  margin-left: 1rem;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #00bfa6;
}

footer {
  text-align: center;
  padding: 8px;
  background-color: #0084A4;
  font-size: 0.9rem;
  color: white;
}